@font-face {
    font-family: 'SourceCodePro';
    src: url('../Font/sourcecodepro-regular-webfont.woff2') format('woff2'),
    url('../Font/sourcecodepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HKGrotesk';
    src: url('../Font/HKGrotesk-Regular.woff2') format('woff2'),
    url('../Font/HKGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html body {
    font-family: 'HKGrotesk', sans-serif;
}

.l-box {
    padding: 0.4em;
}

a {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.8);
}
a:hover,
a:focus {
    text-decoration: none;
    background-color: #cf6254;
}

h1 {
    font-size: 1.5em;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: left;
    top: auto;
    margin: 1em 1em 0;
}

.pure-menu-link:focus,
.pure-menu-link:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff !important;
}
/*.pure-menu-selected:visited:focus {*/
/*.pure-menu-selected:visited:hover {*/
/*    color: #fff !important;*/
/*}*/

.sidebar {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    background: #98C8F3;
    color: rgba(0, 0, 0, 0.8);
/*    font-family: 'SourceCodePro';*/
}
.sidebar-header {
    border-bottom: 1px solid #000000;
}
.sidebar-profile {
    padding-top: 1em;
}
.sidebar-profile a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}
.sidebar-profile a:hover,
.sidebar-profile a:focus {
    background-color: #000;
    color: #fff;
}
.social-media-container {
    padding-top: 1em;
}

.brand-title {
    margin: 0;
    text-transform: capitalize;
}
.brand-tagline {
    margin: 0;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.8);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
}

.content {
    padding: 1em;
}

.mini-post {
    background-color: #f3f3f3;
    padding: 2em;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 2em;
}
.mini-post a {
    text-decoration: none;
}
.mini-post a:hover,
.mini-post a:focus {
    text-decoration: underline;
    background-color: transparent;
}
.mini-post-title {
    font-size: 2em;
    color: #222;
    margin-top: 0;
    margin-bottom: 0;
}
.mini-post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.mini-post-description {
    color: #444;
    line-height: 1.5em;
}
.mini-post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}
.mini-post-tags {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.mini-post-tags a:hover,
.mini-post-tags a:focus {
    text-decoration: none;
    background-color: #cf6254;
}
.mini-post-category {
    margin-right: 0.4em;
    padding: 0.4em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
    border-radius: 10px;
}
/*    American Palette https://flatuicolors.com/palette/us*/
.mini-post-category-swift {
    background: #90AFC5;
}
.mini-post-category-ios {
    background: #336B87;
}
.mini-post-category-tutorial {
    background: #2A3132;
}
.mini-post-category-other {
    background: #763526;
}
.mini-post-images {
    margin: 1em 0;
}
.mini-post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.post-title {
    font-size: 2em;
    color: #222;
    margin-top: 0;
    margin-bottom: 0;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    color: #444;
    font-size: 1em;
}
.page-description {
    color: #444;
    font-size: 1em;
}
.post-description-text a {
    text-decoration: underline;
}
.post-description-text a:hover,
.post-description-text a:focus {
    text-decoration: none;
    background-color: #cf6254;
}
.post-description-text {
    margin-top: 0;
    margin-bottom: 0;
}
.post-meta {
    color: #999;
    font-size: 0.9em;
    margin: 0;
}
.post-tags {
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}
.post-tags a {
    text-decoration: none;
}
.post-tags a:hover,
.post-tags a:focus {
    text-decoration: none;
    background-color: #cf6254;
}
.post-category {
    margin-right: 0.4em;
    padding: 0.6em 1em;
    color: #fff;
    background: #999;
    font-size: 70%;
    border-radius: 10px;
}
/*    American Palette https://flatuicolors.com/palette/us*/
.post-category-swift {
    background: #90AFC5;
}
.post-category-ios {
    background: #336B87;
}
.post-category-tutorial {
    background: #2A3132;
}
.post-category-other {
    background: #763526;
}

.author__avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1em;
}

.footer {
    padding-bottom: 2em;
    color: #80807f;
    text-align: center;
}
.footer a {
    color: #80807f;
    font-size: 90%;
    text-decoration: underline;
    text-align: center;
}
.footer a:hover,
.footer a:focus {
    text-decoration: none;
    color: #000;
    background-color: #cf6254;
}

.pure-menu {
    margin-left: 0em;
}

.social-media {
    display: none;
}
.social-icon {
    font-size: 1.5em;
}

.pure-g [class*=pure-u] {
    font-family: 'HKGrotesk';
}

@media (min-width: 48em) {
    .content {
        padding: 2em;
        margin-left: 25%;
    }
    
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
    
    .header {
        margin: 3em 3em 0;
        text-align: left;
    }
    
    .social-media {
        display: inline;
    }
    
    .social-icon {
        font-size: 1em;
    }
    
    .author__avatar {
        display: block;
        width: auto;
        height: auto;
    }
    
    .author__avatar img {
        width: 125px;
        height: 125px;
    }
    
    .pure-menu {
        margin-left: 0;
    }
    
    .top-header {
        position: fixed;
        top: 0em;
        background: #fff;
    }
    
    .post-title {
        font-size: 3em;
    }
    
    .post-meta {
        font-size: 1em;
    }
    
    .post-description {
        font-size: 1.2em;
    }
    
    .page-description {
        font-size: 1.2em;
    }
    
    .post-category {
        font-size: 80%;
    }
}

.center {
    justify-content: center;
}

pre {
    margin-bottom: 1.5em;
    background-color: #2d2d2d;
    padding: 16px 0;
    border-radius: 8px;
}
pre code {
    font-family: 'SourceCodePro', monospace;
    font-size: 0.9em;
    display: block;
    padding: 0 20px;
    color:  #b9b28d;
    line-height: 1.4em;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}
pre code span {
    font-family: 'SourceCodePro', monospace;
}
pre code .la-keyword {
    color: #c951aa;
}
pre code .la-type {
    color: #6c6ec5;
}
pre code .la-call {
    color: #62989c;
}
pre code .la-property {
    color: #71b892;
}
pre code .la-number {
    color: #cf6254;
}
pre code .la-string {
    color: #cf6254;
}
pre code .la-comment {
    color: #777775;
}
pre code .la-dotAccess {
    color: #71b892;
}
pre code .la-preprocessing {
    color: #b68a00;
}
